<div class="container">
    <div class="jumbotron mt-3 mdb-color lighten-5">
        <h2 class="display-4">NPR News Scraper</h2>
        <p class="lead">Find, comment, and save science news articles from NPR.</p>
        <hr class="my-4">
        <a class="btn blue-gradient" href="/">Home</a>
    </div>
</div>

<div class="container">
    <!-- Card -->
    {{#each dbArticle}}
    <div class="card my-4 mdb-color lighten-5">
        <!-- Card content -->
        <div class="card-body">
            <!-- Title -->
            <h4 class="card-title"><a href="{{link}}">{{title}}</a></h4>
            <!-- Text -->
            <p class="card-text">{{summary}}</p>
            <!-- Button -->
            <a href="/article/detail/{{_id}}" class="btn blue-gradient btn-sm text-right">Comment</a>
            {{#if saved}}
                <a class="btn purple-gradient btn-sm" href="/article/unsave/{{_id}}">Unsave</a>
            {{else}}
                <a class="btn peach-gradient btn-sm" href="/article/save/{{_id}}">Save</a>
            {{/if}}
            <a class="btn btn-danger btn-sm" href="/article/delete/{{_id}}">Remove</a>
        </div>
    </div>
    <!-- Card -->
    {{/each}}
</div>